.banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 100px;
    padding-right: 30px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
    display: none;
}

.banner .box {
    margin-bottom: 20px;
}