.main-carousel {
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
    display: flex;
}

.main-carousel::before {
    content: '';
    position: absolute;
    left: 0;
    top: 38px;
    display: block;
    border: 2.5px dashed #000;
    width: 100%;
    box-sizing: border-box;
}

.main-carousel::after {
    content: '';
    position: absolute;
    left: 60px;
    top: 38px;
    display: block;
    height: 5px;
    width: calc(100% - 120px);
    background-color: #000;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-between;
    transition: transform 100ms ease-in-out;
    gap: 5px;
}