.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/photo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 80px;
    padding-right: 40px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
    display: none;
}

.main-banner .box {
    margin-bottom: 20px;
}